  <h3 class="bg-success text-info p-2">Tanácsok a középszintű informatika érettségi előtt</h3>
  <div class="pr-2">
    <div class="card-text">Megpróbálom összefoglalni azokat a gondolatokat és tanácsokat, amelyeket a tanulóimnak szoktam mondani az informatika érettségi előtt. A tanácsok azoknak szólnak, akik egy tisztességes a gyakorlati részben 80% vagy a feletti eredmény szeretnének elérni. Persze van benne olyan tanács is, amelyiket a majd lesz valahogy érettségizők is megfogadhatnak.
      A tanácsok kéretlenek és a sok éves javítási tapasztalat és felkészítés mondatja velem. Én magam sosem érettségiztem informatikából hiszen akkor még a tantárgy se létezett. :)
      <br><br><h4>Általánosságban</h4>
      <ol>
        <li>Ha eddig szakaszosan gyakoroltál és még van 1-2 napod. Próbáld ki egy feladatsoron egyben, hogy bírod-e a 3 órát. Figyeld hol fáradsz el.</li>
        <li>A tollal a feladatlapon végig jelezd aláhúzással, hogy mit oldottál meg.</li>
        <li><span style="color: #ff0000;"><strong>Ahogy hozzáfogsz egy új feladathoz azonnal mentsd el</strong></span> a megfelelő néven a megfelelő helyre.</li>
        <li><span style="color: #ff0000;"><strong>Sűrűn ments (CTRL+S</strong>)</span></li>
        <li>Ne futtasd a szemed a feladatokon. Ha úgy érzed csak egy villanásra is, hogy "megfutott a szemed" állj meg olvasd újra a feladatot.</li>
        <li>Az egyes feladatleírásokat olvasd el egyben, de legalább 2-3 részfeladatot egyszerre. Majd olvasd újra részenként és hajtsd végre. Ne próbálj megjegyezni 3-4 feladatrészt.</li>
        <li>A mintát mindig figyeld meg. Hasonlítsd össze a feladatban leírtakkal és a saját megoldásoddal. Vagyis ne csak a feladat előtt, hanem a megoldása után is ellenőrizd.</li>
        <li>Azokat a feladatokat old meg először, amelyek könnyen és gyorsan mennek. Ne állj meg kísérletezni és ne ragadj le olyan feladatnál, amelyiket nem tudod megoldani.</li>
        <li>Jelöld a papíron, amit nem tudtál megoldani.</li>
        <li>Ha végeztél mindennel amit meg tudtál oldani és van még időd térj vissza hozzájuk és próbálkozz.</li>
      </ol>
      <h4>Szövegszerkesztés</h4>
      <ol>
        <li>Gyakorolj sokat, még akkor is ha úgy érzed ez könnyű, mert ezzel időt tudsz nyerni a többi feladathoz.</li>
        <li>Ha bemásoltad a forrás szöveget, akkor jelöld ki az egészet (CTRL+A) és állítsd a betűtípust Times New Roman 12-es betűméretre (Olvasd el a feladatban mi a szövegtörzs alapértelmezett betűtípusa.).</li>
        <li>Az összes bekezdésben állítsd a térközt 0-ra és a sorközt szimplára.</li>
        <li>Ha kihagysz egy feladatot jelöld!</li>
      </ol>
      <h4>Prezentáció</h4>
      <ol>
        <li>Mielőtt hozzáfogsz állítsd át a dia oldalainak arányát 4:3-ra, mert eddig mindig ezzel az oldalaránnyal készült a minta.</li>
        <li>Figyelj a betűméretekre.</li>
        <li>Mindig tartsd szemmel a mintát.</li>
      </ol>
      <h4>Webszerkesztés</h4>
      <ol>
        <li>Mint a szövegszerkesztés.</li>
        <li>Itt különösen fontos, hogy az elején odafigyelj hová mentesz!</li><li>A mentés helyét az elején úgy határozd meg, hogy később ne kelljen a html állományok és képek közötti relatív útvonalon változtatni. (Magyarul, ha már mentettél és képet is illesztettél az állományba, NE változtass az egymáshoz viszonyított helyzetükön.)</li>
        <li>Ha több azonos formázású oldalas a feladat, akkor készíts el egyet és azt mentsd másként, így megspórolsz egy csomó formázást.</li>
        <li>A képek hivatkozása relatív legyen. Vagyis ha megnézed a kódot, akkor az &lt;img src="... "&gt; az src tulajdonságban nem szerepelhet a C: karakter sorozat.</li>
      </ol>
      <h4>Táblázatkezelés</h4>
      <ol>
        <li>Gyakorolj!</li>
        <li>Ha egyetlen feladatot sem tudsz megoldani, akkor is formázz a minta és a leírás szerint.</li>
        <li>Old meg a számolós feladatokat papíron. Számold ki! Ha papíron nem megy, nem fog a táblázatkezelővel sem.</li>
        <li>Nézd át a százalékszámítást matekból.</li>
        <li>A százalék lábat (%) általában úgy számoljuk ki, hogy a nagyobbat osztjuk a kisebbel. Sose szorozz 100-al, hiszen a százalék egy arány és legtöbbször 0-1 közé eső szám.</li>
        <li>Old meg az egyszerű feladatokat. Az alap függvények, mint a <strong>Szum()</strong>, <strong>Darab()</strong>, <strong>Min()</strong>, <strong>Max()</strong>, <strong>Átlag()</strong> adják magukat, csak az argumentumaikra kell az értelmezés és az energia, hogy melyik tartományra is vonatkozik.</li>
        <li>A <strong>Ha()</strong> függvényt is viszonylag könnyű felismerni, mert ha benne van a mondatban a "ha" szócska, szinte biztos, hogy azt kell alkalmazni. Itt a feltétel összerakása szokott gondot okozni.</li>
        <li>Ha összegezni, megszámolni vagy átlagolni kell egy tartomány értékeit, de van valamilyen kikötés, feltétel, hogy csak azokat számold meg, add össze vagy átlagold amelyekre igaz, hogy ..., akkor biztos, hogy a <strong>szumha()</strong>, <strong>darabteli()</strong> vagy mostanában a <strong>darabhatöbb()</strong> függvény vagy az <strong>átlagha()</strong> lesz a megoldás.</li>
        <li>Ha már nincs több ötleted, például annyi ha() függvényt kellene összeépíteni, hogy ez már neked is sok akkor az az <strong>Fkeres()</strong> függvény lesz.</li>
        <li>A csemege az <strong>index()</strong>, <strong>hol.van()</strong> függvény páros. Ez akkor jöhet szóba, ha olyat kell megmondani ki volt a legnagyobb, melyik volt a legdrágább.</li>
        <li>A kerekítésnél is érdemes odafigyelni a szövegre. Ha azt mondja a feladat, hogy jelenítsd meg 3 tizedes jeggyel, akkor nem kell a <strong>kerekítés()</strong> függvényt használni, mert akkor elég a szám formátum és annak beállítása. Csak akkor kell a <strong>kerekítés()</strong> függvény, ha a feladat azt mondja kerekítsd a kapott eredményt 3 tizedes jegyre.</li>
        <li>Ezen kívül a <strong>kicsi()</strong>, <strong>nagy()</strong> függvények fordulhatnak elő, amelyek valahányadik legkisebb vagy legnagyobb értéket adja vissza.</li>
        <li>&nbsp;A <strong>darab2()</strong> függvény mindent megszámol, ami csak létezik a tartományban.</li>
        <li>A <strong>darabüres()</strong> függvény az üres cellákat számolja össze vagyis azokat amelyekben a tartományon belül nincs semmi.</li>
        <li>A diagram készítése előtt jelöld ki a tartomány amelyikből a diagramot készítesz.</li>
      </ol>
      <h4>Adatbázis-kezelés</h4>
      <ol>
        <li>Figyelj az importálásra.</li>
        <li>Az első sor tartalmazza a mezőneveket.</li>
        <li>A txt állományok kódolására figyelj oda..</li>
        <li>Nézd a feladatot és adattípusokat is állítsd be az importáláskor. Különösen légy figyelmes Dátum/idő és logikai típusok esetén.</li>
        <li>Figyelj a kulcs mezőre. Létezik-e egyáltalán a txt állományban. Ha igen, akkor állítsd be a kulcsot importáláskor. Ha nem létezik, akkor légy figyelmes és ha hagyod, hogy a varázsló adjon hozzá kulcs mezőt, akkor nevezd át az importálás után.</li>
        <li>A lekérdezéseknél a megjelenített mezőkre figyelj.</li>
        <li>Olvasd el többször a kérdést és húzd alá, hogy mit kell csinálnod.</li>
        <li>Figyelj a rendezésre.</li>
        <li>Ne adj hozzá minden táblát a lekérdezéshez, csak annyit amire feltétlenül szükség van a kérdés megválaszolásához.</li>
        <li>Ha kérdésben a számold meg vagy add össze szavakat látod, az összesítő lekérdezés.</li><li>Ha feladatban a legkisebb, legnagyobb, először, utoljára szavakat vagy hasonlóakat olvasol, akkor állítsd a Viszzatérés érékét 1-re.</li>
      </ol>
      Amennyiben kifelejtettem valamit, márpedig biztos, hogy igen. Segíts!!! Írd meg mire érdemes még odafigyelni.
    </div>
    <div class="card-text text-right bottom">2018-03-03 11:27:00</div>
  </div>
