<div class="container">
  <div class="row bg-light p-0">
    <div class="col-4 d-none d-lg-block">
      <img class="img-fluid" src="./assets/images/fejlesztesalatt.png" alt="fejlesztés alatt">
    </div>
    <div class="col-lg-8 col-md-12">
      <div class="card sotetkek border-0 float-left p-0 w-100">
        <div class="card-body">
          <h3 class="card-title sotetkekhatter kozepBarna p-2">Rólam</h3>
          <div class="pr-2">
            <div class="card-text">
              <div class="text-justify">
                Holló Tamás vagyok, tanár a honlapom elsősorban rendszerezem a youtube-ra felkerült érettségi feladatmegoldásaimat.
              </div>
              <div class="text-justify">
                A tapolcai <a href="http://www.batsanyi-tapolca.sulinet.hu"><span class="badge sotetkekhatter vilagoskek">Batsányi János Gimnázium</span></a>ban tanítok informatikát, rajz és vizuális kultúrát, mozgóképkultúra- és médiaismeretet és művészeteket.</div>
                <div class="row text-center my-3">
                  <div class="col-sm-12 col-lg-6 px-0 align-middle">
                    <a href="https://www.facebook.com/tamas.hollo.796" target="_blank">
                      <img class="img-fluid" src="./assets/images/facebook.jpg" alt="" width="250" height="94">
                    </a>
                  </div>
                  <div class="col-sm-12 col-lg-6 px-0 align-middle">
                    <a href="https://www.youtube.com/channel/UCAQ53rWEdfs2ZFysCj_hgzQ/featured?view_as=public" target="_blank">
                      <img class="img-fluid" src="./assets/images/youtube.jpg" alt="" width="250" height="106">
                    </a>
                  </div>
                </div>
                <div class="text-justify">
                  <span style="font-size: 1rem;">
                    A gimnáziumban a Moodle távoktatási keretrendszert használom a tanulás támogatására. A honlapon megtalálható anyagok ezért csak tört részét képezik az oktató-nevelő munkámnak. Amennyiben kérdésed van, amelyre úgy gondolod, hogy tudom a választ, akkor keres a facebook-on keresztül.
                  </span>
                </div>
                <div class="text-justify"><br></div>
                <div class="text-justify">
                  Az informatika érettségire felkészülni könnyű. Ezt komolyan így gondolom. Az egyik nehézség a diákjaim számára a rendszeresség megszokása. Amennyiben hajlandó vagy heti 2-3 órát 1 éven keresztül belefektetni a gyakorlásba, akkor szinte garantált a 90% feletti gyakorlati feladat eredmény középszinten. A másik, hogy a jó eredmény a szövegértésen múlik. Persze ez minden tantárgynál elengedhetetlen, de itt az informatika érettségin valahogy hatványozottan jelentkezik.
                </div>
                <div class="text-justify"><br></div>
                <div class="text-justify">
                  Az érettségire felkészülés közben és érettségi előtt olvasd el <a href="#"><span class="badge sotetkekhatter vilagoskek">ezt az írást</span></a>, amelyben igyekeztem összeszedni, mire figyelj oda a gyakorlati feladat megoldásakor.
                </div>
                <div class="text-justify"><br></div>
                <div class="text-justify">Végül az <a href="#"><span class="badge sotetkekhatter vilagoskek">adatkezelésre vonatkozó tájékoztató.</span></a>
                </div>
              </div>
              <div class="card-text text-right bottom">
                2018-04-02 13:13:00
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
