<div class="fejlec">
  <div class="container sotetkekhatter">
    <h1 class="display-4 kozepKek">Holló és az informatika</h1>
    <p class="vilagoskek">Ez a honlap azért jött létre, hogy a diákjaimnak készített tananyagokat, videókat rendszerezze és mások számára is hozzáférhetővé tegye.
      Az oldalon informatika közép és emelt szintű érettségire, ECDL vizsgára felkészüléshez találsz elsősorban információkat. Ezeken kívül megtalálhatod
     egyik másik szakdolgozatom és más oktatással összefüggő tevékenységeim nyomit is.</p>
    <p><a class="btn sotetkek kozepBarnahatter btn-sm" routerLink="/about" role="button">Bővebben rólam &raquo;</a></p>
  </div>
</div>
