<div class="jumbotron">
  <div class="container">
    <h1 class="display-4">Holló és az informatika</h1>
    <p>Ez a honlap azért jött létre, hogy a diákjaimnak készített tananyagokat, videókat rendszerezze és mások számára is hozzáférhetővé tegye.
      Az oldalon informatika közép és emelt szintű érettségire, ECDL vizsgára felkészüléshez találsz elsősorban információkat. Ezeken kívül megtalálhatod
     egyik másik szakdolgozatom és más oktatással összefüggő tevékenységeim nyomit is.</p>
    <p><a class="btn btn-primary btn-sm" href="#" role="button">Bővebben rólam &raquo;</a></p>
  </div>
</div>
