<div class="card vilagoskekhatter mx-0">
  <table class="borderless mx-0" style="width: 100%;">
    <tr>
      <td  class="pt-2 pl-1" style="width: 80%;">
        <div class="h5 sotetkek">{{_post.cim}}</div>
      </td>
      <td  class="pt-1" rowspan="2"><img class="img-fluid" src={{_post.szint.szintKep}} style="max-width: 80px"></td>
    </tr>
    <tr>
      <td>
        <div class="h6 kozepBarna pl-1 mb-2">{{_post.erettsegiIdopont}}</div>
      </td>
    </tr>
    <tr>
      <td class="sotetkek px-2" colspan="2">
          {{_post.leiras}}
      </td>
    </tr>
    <tr>
      <td class="vilagoskek text-right px-2" colspan="2">
          <a [routerLink]="[_post.id,'post']" class="h3 card-link"><i class="fas fa-angle-double-right"></i></a>
      </td>
    </tr>
  </table>
</div>
