<div class="card kozepZoldhatter">
  <table class="borderless">
    <tr>
      <td  class="pt-2 pl-1" style="width: 80%;">
        <div class="h5 vilagoskek">Érettségi címe</div>
      </td>
      <td  class="pt-2" rowspan="2"><img class="img-fluid" src="./assets/images/erettsegi/ebetu.png" style="max-width: 80px"></td>
    </tr>
    <tr>
      <td>
        <div class="h6 kozepBarna pl-1 mb-2">2018-02-01</div>
      </td>
    </tr>
    <tr>
      <td class="vilagoskek px-2" colspan="2">
          Rövid tartalom
      </td>
    </tr>
    <tr>
      <td class="vilagoskek text-right px-2" colspan="2">
          <a [routerLink]="['../',123,'post']" class="h3 card-link"><i class="fas fa-angle-double-right"></i></a>
      </td>
    </tr>
  </table>
</div>
