<app-fejlec>
  <h1 class="display-4 text-secondary">Holló és az informatika</h1>
  <p class="text-light">Ez a honlap azért jött létre, hogy a diákjaimnak készített tananyagokat, videókat rendszerezze és mások számára is hozzáférhetővé tegye.
    Az oldalon informatika közép és emelt szintű érettségire, ECDL vizsgára felkészüléshez találsz elsősorban információkat. Ezeken kívül megtalálhatod
   egyik másik szakdolgozatom és más oktatással összefüggő tevékenységeim nyomit is.</p>
  <p><a class="btn text-primary bg-info btn-sm" routerLink="/about" role="button">Bővebben rólam &raquo;</a></p>
</app-fejlec>
<div class="container tartalom border px-4">
  <!-- Example row of columns -->
  <div class="row">
    <div class="col-md-4">
      <h2 class="text-success">Érettségi</h2>
      <a class="h6" href="https://www.oktatas.hu/kozneveles/erettsegi/feladatsorok" target="_blank">oktatas.hu</a>
      <p>A közép és emelt érettségi feladatok megoldása, témákörönként csoportosítva. Szövegszerkesztés, prezentáció, webszerkesztés, táblázatkezelés, adatbázis-kezelés és programozás.</p>
      <p><a class="btn bg-success text-light" routerLink="/erettsegi" role="button">Tudj meg többet &raquo;</a></p>
    </div>
    <div class="col-md-4">
      <h2 class="text-success">Programozás</h2>
      <p>Különböző programozási nyelvek és kísérletek arra, hogy a diákjaimnak kedvet csináljak a programozáshoz. Van itt androidos mobil programoása java nyelven vagy appinventor-ral, scratch és php is. </p>
      <p><a class="btn bg-success text-light" href="#" role="button">Tudj meg többet &raquo;</a></p>
    </div>
    <div class="col-md-4">
      <h2 class="text-success">ECDL</h2>
      <a class="h6" href="http://njszt.hu/ecdl" target="_blank">ecdl.hu</a>
      <p>Szövegszerkesztés, prezentáció, táblázatkezelés, képszerkesztés, webszerkesztés, adatbázis-kezelés ECDL vizsga feladatok megoldását találod itt, a lehető legpraktikusabban, célirányosan.</p>
      <p><a class="btn bg-success text-light" href="#" role="button">Tudj meg többet &raquo;</a></p>
    </div>
  </div>
</div>
