<div class="container">
  <!-- Example row of columns -->
  <div class="row">
    <div class="col-md-4">
      <h2>Érettségi</h2>
      <a class="h6" href="https://www.oktatas.hu/kozneveles/erettsegi/feladatsorok" target="_blank">oktatas.hu</a>
      <p>A közép és emelt érettségi feladatok megoldása, témákörönként csoportosítva. Szövegszerkesztés, prezentáció, webszerkesztés, táblázatkezelés, adatbázis-kezelés és programozás.</p>
      <p><a class="btn btn-secondary" href="#" role="button">Tudj meg többet &raquo;</a></p>
    </div>
    <div class="col-md-4">
      <h2>Programozás</h2>
      <p>Különböző programozási nyelvek és kísérletek arra, hogy a diákjaimnak kedvet csináljak a programozáshoz. Van itt androidos mobil programoása java nyelven vagy appinventor-ral, scratch és php is. </p>
      <p><a class="btn btn-secondary" href="#" role="button">Tudj meg többet &raquo;</a></p>
    </div>
    <div class="col-md-4">
      <h2>ECDL</h2>
      <a class="h6" href="http://njszt.hu/ecdl" target="_blank">ecdl.hu</a>
      <p>Szövegszerkesztés, prezentáció, táblázatkezelés, képszerkesztés, webszerkesztés, adatbázis-kezelés ECDL vizsga feladatok megoldását találod itt, a lehető legpraktikusabban, célirányosan.</p>
      <p><a class="btn btn-secondary" href="#" role="button">Tudj meg többet &raquo;</a></p>
    </div>
  </div>

  <hr>

</div>
