<app-fejlec>
  <h1 class="display-4 kozepKek">Érettségi feladatok megoldása</h1>
  <p class="vilagoskek">Az érettségire készülés során nagyon fontos a gyakorlás, amikor már ránézel a szövegszerkesztés feladat mintájára és
  meg tudod mondonai, hogy milyen szerkesztési feladatok várnak rád, akkor fel vagy készülve szövegszerkesztésből. :) És így tovább...
  Azonban a szövegértés és 3 órás koncentrálás gyakorlésa sem maradhat el a felkészülés során. A videókat javaslom úgy használd, hogy először nézd meg az adott részfeladat megoldását, majd
  készítsd el a feladatrészt. Ha nem megy önállóan elakadsz, akkor nézd meg újra egyben.</p>
  <p><a class="btn sotetkek kozepBarnahatter btn-sm" routerLink="/erettsegi/tanacsok" role="button">Néhány jótanács az egyes feladattípusokhoz &raquo;</a></p>
</app-fejlec>
<div class="container border px-2">
    <router-outlet></router-outlet>
</div>
