  <div class="row">
    <button type="button" name="button" routerLink="../new">New post</button>
  </div>
  <div class="row">
    <div class="card kozepZoldhatter col-sm-6 col-md-4 col-lg-3">
      <table class="borderless">
        <tr>
          <td  class="pt-2" style="width: 80%;">
            <div class="h5 vilagoskek">Érettségi címe</div>
          </td>
          <td  class="pt-2" rowspan="2"><img class="img-fluid" src="./assets/images/erettsegi/ebetu.png" style="max-width: 80px"></td>
        </tr>
        <tr>
          <td>
            <div class="h6 kozepBarna mb-2">2018-02-01</div>
          </td>
        </tr>
      </table>
      <p class="vilagoskek">Rövid tartalom</p>
      <a [routerLink]="['../',123,'post']"  class="h3 card-link float-right"><i class="fas fa-angle-double-right"></i></a>
    </div>
    <div class="card kozepZoldhatter col-sm-6 col-md-4 col-lg-3">
      <table class="borderless">
        <tr>
          <td  class="pt-2" style="width: 80%;">
            <div class="h5 vilagoskek">Érettségi címe</div>
          </td>
          <td  class="pt-2" rowspan="2"><img class="img-fluid" src="./assets/images/erettsegi/ebetu.png" style="max-width: 80px"></td>
        </tr>
        <tr>
          <td>
            <div class="h6 kozepBarna mb-2">2018-02-01</div>
          </td>
        </tr>
      </table>
      <p class="vilagoskek">Rövid tartalom</p>
      <a [routerLink]="['../',123,'post']"  class="h3 card-link float-right"><i class="fas fa-angle-double-right"></i></a>
    </div>
    <div class="card kozepZoldhatter col-sm-6 col-md-4 col-lg-3">
      <table class="borderless">
        <tr>
          <td  class="pt-2" style="width: 80%;">
            <div class="h5 vilagoskek">Érettségi címe</div>
          </td>
          <td  class="pt-2" rowspan="2"><img class="img-fluid" src="./assets/images/erettsegi/ebetu.png" style="max-width: 80px"></td>
        </tr>
        <tr>
          <td>
            <div class="h6 kozepBarna mb-2">2018-02-01</div>
          </td>
        </tr>
      </table>
      <p class="vilagoskek">Rövid tartalom</p>
      <a [routerLink]="['../',123,'post']"  class="h3 card-link float-right"><i class="fas fa-angle-double-right"></i></a>
    </div>
    <div class="card kozepZoldhatter col-sm-6 col-md-4 col-lg-3">
      <table class="borderless">
        <tr>
          <td  class="pt-2" style="width: 80%;">
            <div class="h5 vilagoskek">Érettségi címe</div>
          </td>
          <td  class="pt-2" rowspan="2"><img class="img-fluid" src="./assets/images/erettsegi/ebetu.png" style="max-width: 80px"></td>
        </tr>
        <tr>
          <td>
            <div class="h6 kozepBarna mb-2">2018-02-01</div>
          </td>
        </tr>
      </table>
      <p class="vilagoskek">Rövid tartalom</p>
      <a [routerLink]="['../',123,'post']"  class="h3 card-link float-right"><i class="fas fa-angle-double-right"></i></a>
    </div>
  </div>
  <div class="row">
    <button type="button" name="button" routerLink="../new">New post</button>
  </div>
