<app-erettsegi-tipus></app-erettsegi-tipus>

<div class="row" >
  <div class="col text-right">
    <button class="btn kozepZoldhatter vilagoskek py-0 px-1" type="button" routerLink="/erettsegi/0/new"><i class="fas fa-plus-square"></i></button>
  </div>
</div>
  <div class="card-deck pr-3 pl-2 mb-1" *ngFor="let erCsop of erettsegiCsoport3">
    <app-erettsegi-tipus-list-card class="col-sm-12 col-md-6 col-lg-3 mx-0 pr-0 pl-1"
                                   *ngFor="let er of erCsop"
                                   [_post] = "er"
    ></app-erettsegi-tipus-list-card>
  </div>
<div class="row">
  <div class="col text-right">
    <button class="btn kozepZoldhatter vilagoskek py-0 px-1" type="button" routerLink="/erettsegi/0/new"><i class="fas fa-plus-square"></i></button>
  </div>
</div>
