<app-erettsegi-tipus></app-erettsegi-tipus>
<div class="row px-2">
    <button type="button" name="button" routerLink="/erettsegi/new">New post</button>
</div>
<div class="row px-2">
    <app-erettsegi-tipus-list-card class="col-sm-6 col-md-4 col-lg-3 p-1">
    </app-erettsegi-tipus-list-card>
    <app-erettsegi-tipus-list-card class="col-sm-6 col-md-4 col-lg-3 p-1">
    </app-erettsegi-tipus-list-card>
    <app-erettsegi-tipus-list-card class="col-sm-6 col-md-4 col-lg-3 p-1">
    </app-erettsegi-tipus-list-card>
    <app-erettsegi-tipus-list-card class="col-sm-6 col-md-4 col-lg-3 p-1">
    </app-erettsegi-tipus-list-card>
  </div>
  <div class="row px-2">
    <button type="button" name="button" routerLink="/erettsegi/new">New post</button>
  </div>
