<div class="row px-2">
    <div class="text-center col-6 col-sm-4 col-md-3 col-lg-2">
      <img src="./assets/images/erettsegi/word.png" class="card-img-top w-25 mx-auto" alt="word">
      <div class="card-title kozepZold">Szövegszerkesztés</div>
    </div>
    <div class="text-center col-6 col-sm-4 col-md-3 col-lg-2">
      <img src="./assets/images/erettsegi/ppt.png" class="card-img-top w-25 mx-auto" alt="word">
      <div class="kozepZold">Prezentáció</div>
    </div>
    <div class="text-center col-6 col-sm-4 col-md-3 col-lg-2">
      <img src="./assets/images/erettsegi/tabl.png" class="card-img-top w-25 mx-auto" alt="word">
      <div class="card-title kozepZold">Táblázatkezelés</div>
    </div>
    <div class="text-center col-6 col-sm-4 col-md-3 col-lg-2">
      <img src="./assets/images/erettsegi/adatb.png" class="card-img-top w-25 mx-auto" alt="word">
      <div class="card-title kozepZold">Adatbázis-kezelés</div>
    </div>
    <div class="text-center col-6 col-sm-4 col-md-3 col-lg-2">
      <img src="./assets/images/erettsegi/sharepoint.png" class="card-img-top w-25 mx-auto" alt="word">
      <div class="card-title kozepZold">Webszerkesztés</div>
    </div>
    <div class="text-center col-6 col-sm-4 col-md-3 col-lg-2">
      <img src="./assets/images/erettsegi/python.png" class="card-img-top w-25 mx-auto" alt="word">
      <div class="card-title kozepZold">Programozás</div>
    </div>
</div>
