<div class="container tartalom">
  <div class="row">
    <div class="card text-center col-sm-3">
      <img src="./assets/images/erettsegi/word.png" class="card-img-top w-75 mx-auto" alt="word">
      <div class="card-body">
        <h6 class="card-title kozepZold">Szövegszerkesztés</h6>
        <a [routerLink]="['../',1,'list']" class="btn btn-sm kozepZoldhatter vilagoskek">Tovább >></a>
      </div>
    </div>
    <div class="card text-center col-sm-3">
      <img src="./assets/images/erettsegi/ppt.png" class="card-img-top w-75 mx-auto" alt="word">
      <div class="card-body">
        <h6 class="card-title kozepZold">Prezentáció</h6>
        <a [routerLink]="['../',2,'list']" class="btn btn-sm kozepZoldhatter vilagoskek">Tovább >></a>
      </div>
    </div>
    <div class="card text-center col-sm-3">
      <img src="./assets/images/erettsegi/tabl.png" class="card-img-top w-75 mx-auto" alt="word">
      <div class="card-body">
        <h6 class="card-title kozepZold">Táblázatkezelés</h6>
        <a [routerLink]="['../',3,'list']" class="btn btn-sm kozepZoldhatter vilagoskek">Tovább >></a>
      </div>
    </div>
    <div class="card text-center col-sm-3">
      <img src="./assets/images/erettsegi/adatb.png" class="card-img-top w-75 mx-auto" alt="word">
      <div class="card-body">
        <h6 class="card-title kozepZold">Adatbázis-kezelés</h6>
        <a href="#" class="btn btn-sm kozepZoldhatter vilagoskek">Tovább >></a>
      </div>
    </div>
  </div>
  <div class="row">
    <button type="button" name="button" routerLink="../new">New post</button>
  </div>
</div>
