  <div class="card">
    <h5 *ngIf="!_erettsegiPost.id; else modify" class="card-header">
      Új érettségi bejegyzés létrehozása
    </h5>
    <ng-template #modify>
      <h5 class="card-header">
        Érettségi bejegyzés módosítása
      </h5>
    </ng-template>
    <div class="card-body">
      <div class="card-text">
        <form #erettsegiForm="ngForm" (ngSubmit)="onSubmit(erettsegiForm.value)">
          <div class="form-group row">
            <label for="feladatCim" class="col-sm-2 col-form-label">Feladat címe:</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="feladatCim" placeholder=""
                     [(ngModel)] = "_erettsegiPost.cim"
                     name="cim"
                     required>
            </div>
          </div>
          <div class="form-group row">
            <label for="feladatLeiras" class="col-sm-2 col-form-label">Feladat leírása:</label>
            <div class="col-sm-10">
              <textarea name="leiras" rows="4"
                        class="form-control" id="feladatLeiras"
                        [(ngModel)]="_erettsegiPost.leiras"
                        required>
              </textarea>
            </div>
          </div>

          <div class="form-group row">
            <label for="leirasURL" class="col-sm-2 col-form-label">Leírás URL:</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="leirasURL" placeholder=""
                     [(ngModel)]="_erettsegiPost.feladatUrl"
                     name="feladatUrl"
                     required>
            </div>
          </div>
          <div class="form-group row">
            <label for="forrasURL" class="col-sm-2 col-form-label">Forrás URL:</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="forrasURL" placeholder=""
                     [(ngModel)]="_erettsegiPost.forrasUrl"
                     name="forrasUrl"
                     required>
            </div>
          </div>
          <div class="form-group row">
            <label for="videoURL" class="col-sm-2 col-form-label">Videó URL:</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="videoURL" placeholder=""
                     [(ngModel)]="_erettsegiPost.video"
                     name="video"
                     required>
            </div>
          </div>
          <div class="form-group row">
            <label for="erettsegiIdeje" class="col-sm-2 col-form-label">Érettségi ideje:</label>
            <div class="col-sm-4">
              <input type="date" class="form-control" id="erettsegiIdeje"
                     name="erettsegiIdopont"
                     [(ngModel)]="_erettsegiPost.erettsegiIdopont"
                     required>
              </div>
              <label for="bejegyzesKeszult" class="col-sm-2 col-form-label text-right">Bejegyzés ideje:</label>
              <div class="col-sm-4">
                <input type="date" class="form-control" id="bejegyzesKeszult"
                       name="bejegyzesKeszult"
                       [(ngModel)]="_erettsegiPost.bejegyzesKeszult"
                       required>
                </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-2 col-form-label" for="szint">Érettségi szintje:</label>
            <div class="col-sm-10">
              <select class="form-control" id="szint"
                      [(ngModel)]="_erettsegiPost.szintId"
                      name="szintId"
                      required>
                <option *ngFor="let szint of _erettsegiSzint" [value]="szint.id">{{szint.szintNev}}</option>
              </select>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-2 col-form-label" for="tipus">Érettségi tipusa:</label>
            <div class="col-sm-10">
              <select class="form-control" id="tipus"
                      [(ngModel)]="_erettsegiPost.tipusId"
                      name="tipusId"
                      required>
                <option *ngFor="let tipus of _erettsegiTipus" [value]="tipus.id">{{tipus.tipusNev}} - {{tipus.szoftver.szoftverNev}}</option>
              </select>
            </div>
          </div>
          <div class="form-group row">
            <label for="megjegyzes" class="col-sm-2 col-form-label">Megjegyzés:</label>
            <div class="col-sm-10">
              <textarea name="megjegyzes" rows="4"
                        class="form-control" id="megjegyzes"
                        [(ngModel)]="_erettsegiPost.megjegyzes">
              </textarea>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-sm-12 text-right">
              <button type="submit" class="btn sotetkekhatter vilagoskek"
                      [disabled]="erettsegiForm.invalid">
                Új bejegyzés mentése
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
